<mat-card class="custom-card">
  <mat-card-header class="bg-primary p-2">
    <mat-card-title class="m-0 pt-1">
      <span>{{ dialogData.headerDialog }}</span>

      <div [ngSwitch]="dialogData?.accion">
        <div *ngSwitchCase="'agregar'">
          <ng-container *ngTemplateOutlet="agregar"></ng-container>
        </div>
        <div *ngSwitchCase="'editar'">
          <ng-container *ngTemplateOutlet="editar"></ng-container>
        </div>
      </div>
      <ng-template #agregar>
        <small>Agregar vivienda.</small>
      </ng-template>
      <ng-template #editar>
        <small>Editar vivienda.</small>
      </ng-template>
    </mat-card-title>

    <a class="close" (click)="closedDialog()">
      <mat-icon>clear</mat-icon>
    </a>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="pt-3">
    <div class="row">
      <div class="col-md-12">
        <div mat-dialog-content>
          <div class="body-dialog">
            <form [formGroup]="formRegistro">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Cedula catastral (*)</mat-label>
                    <input
                      matInput
                      placeholder="Cedula catastral"
                      formControlName="cedulaCatrastal"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Construcción (*)</mat-label>
                    <input
                      type="number"
                      matInput
                      placeholder="Construcción"
                      formControlName="construccion"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Dirección del predio (*)</mat-label>
                    <input
                      matInput
                      placeholder="Dirección del predio"
                      formControlName="direccionPredio"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Estrato (*)</mat-label>
                    <input
                      type="number"
                      matInput
                      placeholder="Estrato"
                      formControlName="estrato"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="legacy">
                    <mat-label>Terreno (*)</mat-label>
                    <input
                      type="number"
                      matInput
                      placeholder="Terreno"
                      formControlName="terreno"
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-4"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-footer class="footer-custom" fxLayoutAlign="end center">
    <div mat-dialog-actions class="mat-dialog-actions">
      <button
        class="button-aceptar"
        mat-raised-button
        color="primary"
        [disabled]="!formRegistro.valid"
        (click)="acceptDialogBtn(formRegistro.value)"
      >
        {{ dialogData.accion === "agregar" ? "Agregar" : "Actualizar" }}
      </button>
      <button mat-raised-button color="warn" (click)="closedDialog()">
        Cerrar
      </button>
    </div>
  </mat-card-footer>
</mat-card>
