<mat-card class="container-components">
  <mat-accordion>
    <mat-expansion-panel class="gris">
      <mat-expansion-panel-header >
        <mat-panel-title>
          <b>Vehículos</b>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>directions_car</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-listar-vehiculos-contribuyente></app-listar-vehiculos-contribuyente>
    </mat-expansion-panel>
    <mat-expansion-panel class="gris"> 
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Viviendas</b>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>maps_home_work</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-listar-viviendas-contribuyente></app-listar-viviendas-contribuyente>
    </mat-expansion-panel>

    <mat-expansion-panel class="gris">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Comercios</b>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>business</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-listar-comercios-contribuyente></app-listar-comercios-contribuyente>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
