<form class="form-signin" [formGroup]="userForm" (ngSubmit)="submitFormUserLogin(userForm.value)">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput type="text" placeholder="" class="form-control" formControlName="username"/>
      </mat-form-field>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" placeholder="alfanumerico" class="form-control"
               formControlName="password"/>
      </mat-form-field>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <button mat-raised-button color="primary" class="btn btn-primary" [disabled]="!userForm.valid">
        Iniciar Sesión
      </button>
    </div>
    <div class="col-md-2"></div>
  </div>
</form>
