.container-custom {
  margin: 74px 10px 0px 10px;

  .mat-card-header {
    justify-content: space-between;

    mat-card-title {
      padding-top: 10px;
    }

    .button-add {
      color: black;
    }
  }

  mat-card-content {
    table {
      width: 100%;
      .mat-icon-button {
        color: var(--color-secondary);
      }
    }
  }
}
